@CHARSET "ISO-8859-1";
#match_container{
	color:white;
}
#match_table thead{
	font-size:2em;
	border-style: solid;
    border-bottom: thick solid white;
    border-left:none;
    border-right:none;
    border-top:none;
}
#wrestlers_table td{
	font-size:1.6em;
}
#wrestlers_table_jv td{
	font-size:1.6em;
}
#home_image{
	margin-left:32%;
	width:inherit;
}
#wrestlerStats{
	font-size:1.6em;
	position: fixed;
    z-index:999;
    /* center the element */
    right: 0;
    left: 0;
    top:0;
    margin-right: auto;
    margin-left: auto;
    height:40%;
    width:90%;
    min-height: 10em;
}
#mobile_separator{
	display:none;
}
ul.tabs li a{
	font-size:2em;
}
.site-footer {
	margin-top:10px;
	color:black;
	text-align:center;
            background-color: white;
            width: 100%;
            margin:0 auto;
            bottom: 0;
            left:0;
            position: fixed;
        }
.top_stats_container{
	height:30%;
	overflow: auto;
		-webkit-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.75);
box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.75);
}
.begin{
	margin-top:20px;
}
#wrestlers_fieldset{
	margin-bottom:100px;
}
#page_overlay {  
    opacity:    0.75; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}
#sms_send_div {
    position: absolute;
    z-index:10;
    /* center the element */
    right: 0;
    left: 0;
    
    margin-right: auto;
    margin-left: auto;
    height:20%;
    width:90%;
    min-height: 10em;
}
#new_wrestler_container {
    position: absolute;
    z-index:10;
    /* center the element */
    right: 0;
    left: 0;
    top:0;
    margin-right: auto;
    margin-left: auto;
    height:50%;
    width:90%;
    min-height: 10em;
}
body{
	font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
	background:url('/img/greybg.jpg');
}
#new_wrestler_fieldset{
	height:100%;
	-webkit-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.75);
box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.75);
}
#new_wrestler_form{
	font-size:3em;
	line-height:1;
}
#top_stats_container{

}
#wrestlers_fieldset{
	-webkit-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.75);
box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.75);
}
#current_match_container{
	font-size:1.6em;
	position: absolute;
    z-index:999;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    height:40%;
    width:90%;
    min-height: 10em;
}
#match_table{
	border: 2px solid white
}
#match_table td{
	border: 2px solid white
}
#event_manage_container {
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    height: 40%;
    width: 90%;
    min-height: 10em;
    font-size:2em;
    line-height:1;
}
#no_current_match{
	display:none;
}
#login_div{
	-webkit-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.75);
box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.75);
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
margin-top:18%;
}
#update_div{
	position: fixed;
    z-index:999;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    height:40%;
    width:40%;
    min-height: 10em;
}
#news_banner{
	background:#00573c;
	color:white;
	font-size:0.8em;
	margin-top:-2%;
	pdding:5px;
	white-space:nowrap;
}
#news_container{
	line-height:80px;
	font-size:3em;
}
#update_div{
	position: absolute;
    z-index:999;
    /* center the element */
    right: 0;
    left: 0;
    top:0;
    margin-right: auto;
    margin-left: auto;
    height:40%;
    width:90%;
    min-height: 10em;
    
}
.button{
	font-size:25px !important;
	padding:30px 40px !important;
}
button{
	font-size:25px !important;
	padding:30px 40px !important;
}
#away_team_name{
	width:50%;
}
#begin_meet_button{
	float:right;
}
#update_wrestler_fieldset{
	font-size:1.5em;
	line-height:1;
}
#teamSelect{
	height:40px;
}
#login_div{
	font-size:2em;
	position: fixed;
    z-index:999;
    /* center the element */
    right: 0;
    left: 0;
    top:0;
    margin-right: auto;
    margin-left: auto;
    width:90%;
    min-height: 10em;
}

#current_events{
	height:30%;
	overflow: scroll;
}
#news_container p{
	display:inline-block;
	margin-right:10%;
}
#ticker_description{
	background:#00573c;
	color:white;
	font-size:1.2em;
	margin-top:1%;
	pdding:5px;
	border: 2px solid white;
}
#log_container{
	position: fixed;
    z-index:999;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    height:40%;
    width:40%;
    min-height: 10em;
}
#top_stats_outer{
	width:100%;
	font-size:2.5em;
}
#bulletin_container{
	display:none;
}
#splash_container{
	display:none;
}
#page_overlay {  
    opacity:    0.75; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}
.button .medium{
	padding:40px 40px;
	font-size:20px;
}
#coach_menu_container{
	display:none;
}
#wrestler_stats_modify{
	
}
#solo_match_selector{
	font-size:1.5em;
	display:block;
	margin-bottom:5px;
	background:#00573c;
}
#meet_match_selector{
	font-size:1.5em;
	display:block;
	background:#00573c;
}
select{
	font-size:1em !important;
}
#new_meet_container{
	font-size:2em;
	line-height:1;
}
#new_solo_container{
	font-size:2em;
	line-height:1;
}
#match_table a{
	font-size:1.3em;
	color:orange !important;
}
#away_score_container{
	width:100%;
}
#home_score_container{
	width:100%;
}
#prepared_matches_container{
	font-size:2em;
	width:100%;
}
#meet_data{
	width:100%;
	font-size:2em;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: Montserrat, sans-serif;
  background: #333333;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}

